.Real{
  background: url(../../assets/brasilFlag.webp);
  background-size: 52px 50px;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.Dolar{
  background: url(../../assets/euaFlag.png);
  background-size: 52px 50px;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.Libra{
  background: url(../../assets/reinoFlag.png);
  background-size: 52px 50px;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.Euro{
  background: url(../../assets/portugalFlag.png);
  background-size: 52px 50px;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.Bitcoin{
  background: url(../../assets/bitcoin.png);
  background-size: 52px 50px;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}