.electric{
  background-image: url(../../assets/raio.webp);
  background-repeat: no-repeat;
  background-size: 310px 510px;
}
.fire {
  background: rgba(0, 0, 0, .2) url(../../assets/fire.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
}
.water{
  background-image: url(../../assets/wather.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.rock, .steel{
  background-image: url(../../assets/rock.jpg);
  background-repeat: no-repeat;
  background-size: 400px 400px;
}
.grass{
  background-image: url(../../assets/grass.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.bug{
  background-image: url(../../assets/bug.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.normal{
  background-color: #ccc;
}
.poison{
  background-image: url(../../assets/poison.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.ground{
  background-image: url(../../assets/ground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.fairy{
  background-image: url(../../assets/fairy.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
.fighting{
  background-image: url(../../assets/fight.jpg);
  background-repeat: no-repeat;
  background-size: 300px 450px;
}
.psychic{
  background-image: url(../../assets/psy.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.ghost{
  background-image: url(../../assets/ghost.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.ice{
  background-image: url(../../assets/ice.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.dragon{
  background-color: rgb(199, 171, 55);
}
.dark{
  background-color: black;
}